# **Class and Object**

> Class : Design or Blueprint

> Object: Instance [real world stuff]

Self: Implicite Instance
 > Self is a pointer or reference

### **1st Example**

In [7]:
#define the class 
class computer:

  def config(self):
    print("i7,16gb,1TB")

# creating object for class   
c1 = computer()
c1.config()

i7,16gb,1TB

### **2nd Example**

In [26]:
#define the class 
class Person:
  
  def pass_name(self,name):
    self.name = name
  
  def pass_surname(self,surname):
    self.surname = surname
  
  def pass_yob(self,yob):
    self.yob = yob

# creating object for class 
P1 = Person()

P1.pass_name("Chandrakant")
P1.pass_surname("Thakur")
P1.name

'Chandrakant'

 > __init__ is a default method for initialization.

### **3rd Example**

In [28]:
#define the class 
class Person:
  def __init__(self,name,surname,yob):
    self.name = name
    self.surname = surname
    self.yob = yob

# creating object for class   
p = Person("Chandrakant","Thakur",2001)

In [32]:
p.name

'Chandrakant'

### **4th Example**

In [43]:
class Person1:
  
  def __init__(self,name,surname,yob):
    self.name1 = name
    self.surname1 = surname
    self.yob1 = yob
  
  def test(self,n,m):
    return n+m+self.yob1

p1 = Person1("Chandrakant","Thakur",2001)

In [44]:
p1.yob1

2001

In [45]:
p1.test(2,3)

2006

### **5th Example**

In [51]:
class Person:

  def __init__(self):
    self.name = "Chandrakant"
    self.surname = "Thakur"
    self.age = 21
  
  def take(self):
    print(self.name)
    print(self.surname)
    print(self.age)

p = Person()

In [53]:
p.age

21

### **6th Example**
Taking Input from the User

In [57]:
class Employee:

  def __init__(self):
    self.Name = input("Enter the Employee Name: ")
    self.Dept = input("Enter the Employee Department: ")
    self.Age = int(input("Enter the Employee Age: "))

  def display(self):
    print("Hi You Data is displayed as below")
    print("{}\t {}\t {}\t ".format(self.Name,self.Dept,self.Age))  

# Itterating 3 times
for i in range(1,4):
  emp = Employee() # creating object for class
  emp.display()
  print("-"*50)

Enter the Employee Name: chandra
Enter the Employee Department: IT
Enter the Employee Age: 21
Hi You Data is displayed as below
chandra	 IT	 21
--------------------------------------------------
Enter the Employee Name: chandrakant
Enter the Employee Department: cs
Enter the Employee Age: 22
Hi You Data is displayed as below
chandrakant	 cs	 22
--------------------------------------------------
Enter the Employee Name: chand
Enter the Employee Department: EXTC
Enter the Employee Age: 23
Hi You Data is displayed as below
chand	 EXTC	 23
--------------------------------------------------

# **Types of Variables in Python**

Two Types of Variables in Python

1. Instance Variables
2. Class Variables (Static Variables)

## **Name Space**

Namespace is area where we create and store Object/Variable

Two Types of Name Space
1. Class Namespace
2. Object/Instance Namespace

### **7th Example**

In [76]:
class car:

  wheels = 4  # Class Namespace

  def __init__(self):
    self.mil = 10         ## Instance Namespace
    self.com = "Audi"
  
c1 = car()
c2 = car()

c1.mil
c1.com

c1.mil = 8 # change the value of Mil

car.wheels = 5

In [78]:
print(c1.mil,c1.com,c1.wheels)
print(c2.mil,c2.com,c2.wheels)

8 Audi 5
10 Audi 5

### **8th Example**

In [85]:
class codelearning:

  skill = "Programming"

  def __init__(self,name,language):
    self.name = name
    self.language = language

  def display(self):
    print("Name is {} and Surname is {} ".format(self.name,self.language,__class__.skill))  #Calling the Global Variable here --> __class__.skill

In [86]:
c1 = codelearning("Chandrakant","Thakur")
c1.display()

Name is Chandrakant and Surname is Thakur