# **Method Overriding in Python**

**Same Method name in different Class**

#### **1st Example**

In [1]:
class rect_area:
  def __init__(self,l,b):
    self.l = l
    self.b = b

  def getArea(self):
    return self.l*self.b

class sqr_area:
  def __init__(self,side):
    self.side = side

  def getArea(self):
    return self.side*self.side

In [4]:
# for rest_area
r1 = rect_area(2,4)
r1.getArea()

8

In [5]:
# for sqr_area
s1 = sqr_area(2)
s1.getArea()

4

#### **2nd Example**

In [14]:
class person:
  def __init__(self,name,surname,yob):
    self.name = name
    self.surname = surname
    self.yob = yob
  
  def age(self,current_age):
    return current_age - self.yob
  
  def __str__(self):
    return self.name


class student(person):
  def __init__(self,student_id,*args):
    super(student,self).__init__(*args)
    self.student_id = student_id

  def __str__(self):
    return self.name + self.student_id
    #return super(student,self).__str__() + str(self.student_id)

In [11]:
# calling Person Class
p1 = person("Chandrakant","Thakur",2001)
print(p1)

Chandrakant

In [10]:
# calling Student Class
s1 = student("XIE123","Chandrakant","Thakur",2001)
print(s1)

ChandrakantXIE123